body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 20px;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
}

.table i {
    cursor: pointer;
    font-size: 18px;
}
