
.navbar { 
    border-bottom: 2px solid #a78bfa;
}
.search-bar {
     max-width: 400px; 
}
.card {
     border-radius: 10px; overflow: hidden; 
}
.card-header {
     background-color: #3b82f6; height: 120px; 
}
.card-body {
     background-color: #f43f5e; 
}
body {
    padding-top: 60px; /* Điều chỉnh phù hợp với chiều cao navbar */
}
